<div class="container" id='landing'>
	<div class="row">
		<img src="https://cdn.pixabay.com/photo/2013/07/13/10/51/football-157931_960_720.png">
		<h1>Premier Manager <br><span>2</span></h1>
		<div class="row">
			<a href="/#/login"><button class="btn btn-primary"><h3>Login</h3></button></a>
			<!-- <button  ng-click="facebookLogin()" type="submit" class="btn btn-primary btn-lg">Facebook Login</button> -->
			<a href="/#/signup"><button class="btn btn-primary"><h3>Signup</h3></button></a>
			<!-- <button class="btn btn-danger" ng-click="logout()">Logout</button> -->
		</div>
	</div>
</div>