<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h1>League Table</h1>
		<div class="row">
			<table class="leagueTable">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Wins</th>
						<th>Draw</th>
						<th>Lose</th>
						<th>GF</th>
						<th>GA</th>
						<th>GD</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="team in teams">
						<th>{{$index + 1}}</th>
						<th>{{team.source_team_name}}</th>
						<th>{{team.win}}</th>
						<th>{{team.draw}}</th>
						<th>{{team.loss}}</th>
						<th>{{team.goals_for}}</th>
						<th>{{team.goals_against}}</th>
						<th>{{team.goal_difference}}</th>
						<th>{{team.points}}</th>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>