<div class="container" id='matchScreen'>

	<div class="row" id='scoreBoard'>
		<div class="col-xs-5" id="homeTeam" ng-style="homeTeamStyle">
			<div class="col-xs-2">
				<img src="{{homeTeamBadge}}">
			</div>
			<div class="col-xs-8 left">
				{{homeTeamName}}
			</div>
			<div class="col-xs-2 center">
				{{homeTeamScore}}
			</div>
		</div>
		<div class="col-xs-2 center">
			{{clock}}
		</div>
		<div class="col-xs-5" id="awayTeam" ng-style="awayTeamStyle">
			<div class="col-xs-2 center">
				{{awayTeamScore}}	
			</div>
			<div class="col-xs-8 right">
				{{awayTeamName}}
			</div>
			<div class="col-xs-2">
				<img src="{{awayTeamBadge}}">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3 left teamSheet" ng-style="homeTeamStyle">
			<ul>
				<li ng-repeat="player in players | filter:{ position: '1', team_id: homeTeamId}">
					<div class="col-xs-2">{{player.squad_number}}</div>
					<div class="col-xs-10">{{player.name}}</div>
				</li>
				<li ng-repeat="player in players | filter:{ position: '2', team_id: homeTeamId}">
					<div class="col-xs-2">{{player.squad_number}}</div>
					<div class="col-xs-10">{{player.name}}</div>
				</li>
				<li ng-repeat="player in players | filter:{ position: '3', team_id: homeTeamId}">
					<div class="col-xs-2">{{player.squad_number}}</div>
					<div class="col-xs-10">{{player.name}}</div>
				</li>
				<li ng-repeat="player in players | filter:{ position: '4', team_id: homeTeamId}">
					<div class="col-xs-2">{{player.squad_number}}</div>
					<div class="col-xs-10">{{player.name}}</div>
				</li>
			</ul>
		</div>
		<div class="col-xs-6" id="matchScroll">
			<div id='buttons'>
				<button class="btn btn-primary col-xs-12" ng-click='startGame()' ng-show='showStartGame'>Start Game</button>
				<button class="btn btn-primary col-xs-12" ng-click='goToResults()' ng-show='showGoToResults'>Go To Results</button>
			</div>
			<ul>
				<li ng-repeat='event in showMatchEvents' ng-style='event.style'>
					{{event.time}} {{event.event_text}}
				</li>
			</ul>
		</div>
		<div class="col-xs-3 right teamSheet" ng-style="awayTeamStyle">
			<ul>
				<li ng-repeat="player in players | filter:{ position: '1', team_id: awayTeamId}">
					<div class="col-xs-10">{{player.name}}</div>
					<div class="col-xs-2">{{player.squad_number}}</div>
				</li>
				<li ng-repeat="player in players | filter:{ position: '2', team_id: awayTeamId}">
					<div class="col-xs-10">{{player.name}}</div>
					<div class="col-xs-2">{{player.squad_number}}</div>
				</li>
				<li ng-repeat="player in players | filter:{ position: '3', team_id: awayTeamId}">
					<div class="col-xs-10">{{player.name}}</div>
					<div class="col-xs-2">{{player.squad_number}}</div>
				</li>
				<li ng-repeat="player in players | filter:{ position: '4', team_id: awayTeamId}">
					<div class="col-xs-10">{{player.name}}</div>
					<div class="col-xs-2">{{player.squad_number}}</div>
				</li>
			</ul>
		</div>
	</div>

</div>











<!--  ng-show='event.show' -->