// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'premier_leagueregular';
    src: asset-url('premier_league_after_2008-webfont.woff2') format('woff2'),
         asset-url('premier_league_after_2008-webfont.woff') format('woff'),
         asset-url('premier_league_after_2008.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

html {
/*	background: url('http://i.dailymail.co.uk/i/pix/2016/05/16/19/34400FE600000578-3593119-image-a-141_1463422466156.jpg');
	background-size: cover;
*/}

body {
	color: white;
	font-family: 'premier_leagueregular', Arial, sans-serif;
	background: rgb(102,153,0);
}

#landing, #login, #signup {
	padding-top: 100px;
	height: 1000px;
	text-align: center;
	img {
		width: 350px;
	}
	button {
		background: none;
		border: white 2px solid;
		width: 200px
	}
	h1 {
		font-size: 60px;
		span {
			font-size: 80px;
		}
	}
	.form-group {
		/*display: inline-block;*/
	}
	label {
		font-size: 20px;
		float: left;
	}
}

#teamDisplay li {
	list-style-type: none;
	margin: 5px;
	max-width: 150px;
	display: inline-block;
}

#teamDisplay ul li p {
	max-width: 150px;
}

#teamDisplay ul li div {
	display: inline-block;
}

.playerImage {
	max-width: 100px;
}

#teamDisplay{
	background: rgb(102,153,0);
}

.badgeImage {
	width: 200px;
	height: 200px;
}

#matchScreen {
/*	#homeTeam {
		border-radius: 3px;
		background: mediumblue;
		color: goldenrod;
		border: goldenrod 2px solid;
	}
	#awayTeam {
		border-radius: 3px;
		background: red;
		color: white;
		border: white 2px solid;
	}
*/	.left {
		text-align: left;
	}
	.center {
		text-align: center;
	}
	.right {
		text-align: right;
	}
	#scoreBoard {
		padding-top: 25px;
		font-size: 40px;
		img {
			height: 45px;
		}
	}
	#matchScroll {
		padding: 30px;
		li {
			margin: 2px;
			padding-left: 10px;
			list-style-type: none;
			font-size: 20px;
			/*border: white 2px solid;*/
		}
		ul {
			padding-left: 0;
		}
		button {
			background: none;
			border: white 2px solid;
			font-size: 20px;
			margin: 10px;
		}
		#buttons {
			height: 60px;
		}
	}
	.teamSheet {
		padding: 30px;
		margin-top: 25px;
		margin-bottom: 25px;
		li {
			list-style-type: none;
			font-size: 20px;
		}
		ul {
			padding-left: 0;
		}
	}
}