
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h1>Squad</h1>
		<div class="row">
			<div class="col-xs-6">
				<table class="table">
					<thead>
						<tr>
							<th>Picked</th>
							<th>Squad No.</th>
							<th>Name</th>
							<th>Position</th>
							<th>Goalkeeping</th>
							<th>Defending</th>
							<th>Attacking</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in players | filter:{ position: 'GK'}">
							<th><div class="form-check"><label class="form-check-label"><input type="checkbox" ng-check="player.picked" ng-model="player.picked" ng-click="changePlayerStatus($index)" ng-disabled="teamValidationClass"></th></label></div>
							<th>{{ player.squad_no }}</th>
							<th>{{ player.name }}</th>
							<th>{{ player.position }}</th>
							<th>{{ player.gk_a }}</th>
							<th>{{ player.d_a }}</th>
							<th>{{ player.f_a }}</th>
						</tr>
						<tr ng-repeat="player in players | filter:{ position: 'D'}">
							<th><div class="form-check"><label class="form-check-label"><input type="checkbox" ng-check="player.picked" ng-model="player.picked" ng-click="changePlayerStatus($index)" ng-disabled="teamValidationClass"></th></label></div>
							<th>{{ player.squad_no }}</th>
							<th>{{ player.name }}</th>
							<th>{{ player.position }}</th>
							<th>{{ player.gk_a }}</th>
							<th>{{ player.d_a }}</th>
							<th>{{ player.f_a }}</th>
						</tr>
						<tr ng-repeat="player in players | filter:{ position: 'M'}">
							<th><div class="form-check"><label class="form-check-label"><input type="checkbox" ng-check="player.picked" ng-model="player.picked" ng-click="changePlayerStatus($index)" ng-disabled="teamValidationClass"></th></label></div>
							<th>{{ player.squad_no }}</th>
							<th>{{ player.name }}</th>
							<th>{{ player.position }}</th>
							<th>{{ player.gk_a }}</th>
							<th>{{ player.d_a }}</th>
							<th>{{ player.f_a }}</th>
						</tr>
						<tr ng-repeat="player in players | filter:{ position: 'F'}">
							<th><div class="form-check"><label class="form-check-label"><input type="checkbox" ng-check="player.picked" ng-model="player.picked" ng-disabled="teamValidationClass"></th></label></div>
							<th>{{ player.squad_no }}</th>
							<th>{{ player.name }}</th>
							<th>{{ player.position }}</th>
							<th>{{ player.gk_a }}</th>
							<th>{{ player.d_a }}</th>
							<th>{{ player.f_a }}</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-6" id="teamDisplay">
				<div class="row" id="GK">
					<ul class="text-center">
						<li ng-repeat="player in players | filter:{ position: 'GK', picked: true }">
							<div>
								<img class="playerImage" ng-src="{{player.image}}">
								<p>{{player.name}}</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="row" id="D">
					<ul class="text-center">
						<li ng-repeat="player in players | filter:{ position: 'D', picked: true }">
							<div><img class="playerImage" ng-src="{{player.image}}"><p>{{player.name}}</p></div>
						</li>
					</ul>
				</div>
				<div class="row" id="M">
					<ul class="text-center">
						<li ng-repeat="player in players | filter:{ position: 'M', picked: true }">
							<div>
								<img class="playerImage" ng-src="{{player.image}}">
								<p>{{player.name}}</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="row" id="F">
					<ul class="text-center">
						<li ng-repeat="player in players | filter:{ position: 'F', picked: true }">
							<div>
								<img class="playerImage" ng-src="{{player.image}}">
								<p>{{player.name}}</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>